.pints {
  margin-bottom: 20px;
}
.increase {
  margin-top: 5px;
}

.number {
  float: left;
  margin-top: 10px;
}

.decrease {
  float: left;
  margin-top: 5px;
}

.price {
  font-weight: 600;
  font-size: small;
}

.aboutKeg {
  font-size: small;
}

.availableKegs {
  margin-bottom: 0.1%;
  margin-left: 3.3%;
  font-weight: 800;
  font-size: small;
}